<% content_for(:title) do %>
  <div class="page_title"><%= image_tag('titles/local_activities(48).png') %></div>
<% end %>

<%= image_tag('activities/carmel(36).png') %>
<div class="activity_list">
<ul>
  <li><%= link_to('Google', 'http://www.google.com/', :target => '_blank') %> -  Description.</li></ul>
</ul>
</div>

<%= image_tag('activities/monterey(36).png') %>
<div class="activity_list">
<ul>
  <li><%= link_to('Google', 'http://www.google.com/', :target => '_blank') %> -  Description.</li></ul>
</ul>
</div>

<%= image_tag('activities/surrounding_areas(36).png') %>
<div class="activity_list">
<ul>
  <li><%= link_to('Google', 'http://www.google.com/', :target => '_blank') %> -  Description.</li></ul>
</ul>
</div>
