<% content_for(:title) do %>
  <!-- <div class="page_title"><%= image_tag('titles/travel(48).png') %></div> -->
<% end %>

<div id="air_travel">
  <%= image_tag('titles/air_travel(48).png') %>

  <div id="event_travel">
    <%= image_tag('titles/event_travel(36).png') %>
    <div id="event_travel_intro">The following airlines offer Event Travel programs that provide discounts on a set of flights that share a common destination, but orignate from a variety of locations.</div>
    <div class="event_travel_airline">
      <%= link_to(image_tag('travel/aa_logo.jpg', :width => 50, :class => 'airline_logo'), 'http://www.aa.com/', :target => '_blank') %>
      <div class="airline_name">American Airlines</div>
      <div class="clear"></div>
      <div class="airline_program">American Airlines has a Group & Meeting Travel department. We have worked out an agreement with them to get a 5% discount on all flights into the Monterey, San Jose, and San Francisco airports. To use this discount simply book your flight through <%= link_to('AA.com', 'http://www.aa.com/', :target => '_blank') %> and enter '3662AZ' in the Promotion Code field.</div>
    </div>

    <div class="event_travel_airline">
      <%= link_to(image_tag('travel/united_logo.jpg', :width => 50, :class => 'airline_logo'), 'http://www.united.com/', :target => '_blank') %>
      <div class="airline_name">United Airlines</div>
      <div class="clear"></div>
      <div class="airline_program">United Airlines has a similar option that gives a 2-7% discount on all flights into a single airport. However this agreement requires...</div>
    </div>
  </div>

  <div id="group_travel">
    <%= image_tag('titles/group_travel(36).png') %>
    <div id="group_travel_intro">The following airlines offer Group Travel programs that provide perks for parties of at least 10 people that share an identical travel itenerary.</div>
    <div class="group_travel_name"><%= link_to('American Airlines Group Travel', 'http://www.aa.com/i18n/businessPrograms/groupsMeetings/main.jsp', :target => '_blank') %></div>
    <div class="group_travel_name"><%= link_to('United Airlines GroupPlus', 'http://www.united.com/page/article/0,6722,3552,00.html?navSource=dropDown&linkTitle=groups', :target => '_blank') %></div>
    <div class="group_travel_name"><%= link_to('US Airways Group Travel', 'http://www.usairways.com/en-US/contact/group_travel.html', :target => '_blank') %></div>
    <div class="group_travel_name"><%= link_to('Southwest Airline Group Travel', 'http://www.southwest.com/html/air/groups/index.html', :target => '_blank') %></div>
  </div>
</div>

