<!DOCTYPE html>
<html>
<head>
  <title>Sarrison - Sara Miller & Harrison Strowd</title>
  <%= stylesheet_link_tag "common", "intro" %>

  <%= yield :head %>

  <meta name="Description" content="Sarrison.com - Wedding Website for Sara Miller and Harrison Strowd" />
  <meta name="Keywords" content="Sarrison, Sara Miller, Harrison Strowd, Wedding Website" />
  <meta name="Author" content="Harrison Strowd" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <%= csrf_meta_tag %>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23207841-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script> 
</head>
<body>

  <div id="intro_box">
    <div id="main_body">
      <div id="content">
        <%= yield :title %>

	<% if(!notice.blank?) %>
          <div id="notice"><%= notice %></div>
	<% end %>
        <% if(flash['error']) %>
          <div id="error">
            <ul>
              <% flash['error'].each do |error_msg| %>
                 <li><%= error_msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <%= yield %>
      </div>

      <div class="clear"></div>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </div>

</body>
</html>
